@font-face {
    font-family: sovMonospace;
    src: url(../fonts/SOV_monospace.ttf) format('truetype');
}

@font-face {
    font-family: embedNiramitAs;
    src: url(../fonts/THNiramitAS.ttf) format('truetype');
}

@font-face {
    font-family: THChakraPetch;
    src: url(../fonts/THChakraPetch.ttf) format('truetype');
}


html, body {
    font-family: consolas,embedNiramitAs, THChakraPetch, sovMonospace ;
    background-color: hsl(0, 0%, 4%);
}



.is-green {
    color:rgb(0, 255, 0);
}

body.is-green > nav {
    border-bottom : solid rgb(0,255,0) 5px;
}

a:hover {
    color: green;
}


.navbar.is-black .navbar-brand > a.navbar-item:hover, .navbar.is-black .navbar-brand > a.navbar-item.is-active, .navbar.is-black .navbar-brand .navbar-link:hover, .navbar.is-black .navbar-brand .navbar-link.is-active {
      background-color: darkgreen;
}


.navbar.is-black .navbar-start > .navbar-item, .navbar.is-black .navbar-start .navbar-link, .navbar.is-black .navbar-end > .navbar-item, .navbar.is-black .navbar-end .navbar-link {
    color : rgb(0, 255, 0);
}

.navbar.is-black .navbar-start > a.navbar-item:hover, .navbar.is-black .navbar-start > a.navbar-item.is-active, .navbar.is-black .navbar-start .navbar-link:hover, .navbar.is-black .navbar-start .navbar-link.is-active, .navbar.is-black .navbar-end > a.navbar-item:hover, .navbar.is-black .navbar-end > a.navbar-item.is-active, .navbar.is-black .navbar-end .navbar-link:hover, .navbar.is-black .navbar-end .navbar-link.is-active
{
    color : rgb(255, 0, 0);
    font-weight:bold;
    background-color: rgb(0, 255, 0);;
}

.title, .subtitle  {
    color : rgb(0, 255, 0);
}

.subtitle strong
{
    color : rgb(0, 255, 255);
}

.box{
    border: solid rgb(0,255,0) 5px;
    background-color: transparent;
}

.greenFilter{

    filter: ;

    -webkit-filter: ;

    -moz-filter: ;

}

.greenFilter {
    position:relative;
}

.greenFilter:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: rgb(0,128,0);
    mix-blend-mode: overlay;
}

.greenFilter:hover:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: rgba(0,0,0,0);
    mix-blend-mode: initial;
}